
body {
    font-family: 'Roboto Flex', sans-serif;
    background:rgb(106, 143, 179);
}
nav {
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 1%;
    list-style-type: none;
    margin: 0 0 0 0;
}
label.logo {
    color: rgb(72, 124, 221);
    font-size: 35px; 
    line-height: 80px;
    font-weight: bold;
    padding: 0px 0px 10px 20px;
    float: inline-start;
}
nav ul {
    float: right;
    margin-right: 20px;
    
}
nav ul li {
    display: inline-block; 
    list-style: 80px;
    margin: 25px 20px;
    color: rgb(72, 124, 221);
}

li {
    font-family: 'Roboto Flex', sans-serif;
    color: rgb(32, 84, 180);
    font-size: large;
}

a:visited { 
    text-decoration: none; 
    color: rgb(23, 121, 226)
   }
   
   /* NUTRITION LABEL */
   /* NUTRITION LABEL */


   #label {
    font: normal 28px Helvetica, Arial, sans-serif;
    display: block;
    margin: 0 auto;
  }
  
  article {
    width: 550px;
    padding: 10px 15px 15px 15px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
    color: #000000;
    background-color: white;
  }

  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  dl,
  dt,
  dd {
    margin: 0;
  }
  
  dt,
  dd {
    display: inline;
  }
  
  dt {
    font-weight: 600;
  }
  
  tbody th,
  tbody td {
    padding: 2px 0;
    font-weight: normal;
    border-top: 1px solid #000000;
  }
  
  header {
    border-bottom: 15px solid #000000;
    margin-bottom: 5px;
  }
  
  header p {
    margin: 0;
  }
  
  header dl {
    display: inline-block;
    width: 49.25%;
    padding: 5px 0;
  }
  
  header dl + dl {
    text-align: right;
  }
  
  header dl + dl dt {
    font-weight: 500;
  }
  
  h2 {
    font-size: 1rem;
    padding: 10px 0;
    margin: 0;
    border-top: 30px solid #000000;
    border-bottom: 1px solid #000000;
  }
  
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  tr {
    margin: 0;
    text-align: left;
  }
  
  table thead tr {
    font-weight: 700;
    text-align: right;
  }
  
  td.indent + td dt,
  td.indent + td dd {
    font-weight: 500;
  }
  
  table td:last-of-type {
    text-align: right;
  }
  
  table:first-of-type tbody:first-of-type td:last-of-type {
    font-weight: 700;
    text-align: right;
  }
  
  table:first-of-type tbody:first-of-type {
    border-bottom: 20px solid #000000;
  }
  
  tfoot td:last-of-type {
    padding: 0.5rem 0 0.5rem 0.7rem;
    font-size: 0.9rem;
    text-indent: -0.7rem;
    font-weight: 400;
    text-align: left;
    border-top: 1px solid #000000;
  }
  
  table + table {
    font-size: 0.8rem;
  }
  
  table + table tbody td {
    padding: 2px 0;
    font-weight: normal;
    border-top: none;
  }
  
  table + table th {
    font-weight: normal;
    border-bottom: 1px solid #000000;
  }
  
  table + table td:last-of-type,
  table + table th {
    font-weight: 400;
    text-align: left;
  }
  
  td.indent {
    width: 1rem;
    border-top: none;
  }
  
  table + table td.indent {
    width: auto;
    text-indent: 1.2rem;
  }

form{
    margin-bottom: 10px;
    margin-top: 11px;  
}
input[type=submit] {
    width: 5.5em;  height: 2em;
    border-radius: 10px;
    color: white;
    font-family: open sans, sans serif;
    background-color: rgb(23, 121, 226);
    outline: none;
    margin: 10px auto;
    display: block;
}
input[type=text] {
    margin: 0 auto;
    display: block;
    width: 15em; 
    height: 2.5em;
    border-radius: 20px;
    width: 250px;
    padding: 5px;

}
p {
    margin: 8px 8px 8px 8px;
}
.slogan{
    font-family: open sans, sans serif;
    display: block;
    font-size: 2em;
    margin: 30px 0px 30px 30px;
    font-weight: bold;
    text-align: center;
}
.subtext {
    font-family: open sans, sans serif;
    text-align: center;
    font-weight: 500;
    margin: -20px 20px 15px 20px;
}
#caloriesfromfat{
    margin: 0px 0px 0px -21px;
}
#servingsize {
    display: inline;
}

hmtl,body{
    display: flex;
    height: 100%;
    place-items: center;
}
button {
    width: 15%;
    border-radius: 10px;
    color: white;
    font-family: open sans, sans serif;
    background-color: rgb(23, 121, 226);
    outline: none;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 480px) {
    body {
    font-size: 20px;
    }
    }



